
h1 {
    position: fixed;
    background: rgba(0, 0, 255, 0.83);
    color: aliceblue;
}

h2 {
    text-align: center;
    border: 2px solid black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 50%;
    
}

button {
    color: royalblue;
    height: 50px;
    font-display: block;
}

body {
    background-color: rgba(117, 1, 168, 0.59);
}
